<div class="container">
    <form ng-submit="">
        <div class="form-group">
            <label for="username">Usernamen: </label>
            <input type="text" placeholder="vorname.nachname@gmx.net" ng-model=" landingVm.person.username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" ng-model="landingVm.person.password" id="password">
        </div>
        <div class="form-group">
            <input type="submit"  value="Login">
        </div>
    </form>

</div>
